#about-section {

    height:100vh;
    color:#A1B2B3;
    @media only screen and (max-width: 600em) {

  }
  h1{
    font-family:'Ubuntu', sans-serif;
  }
  #about-title {
    padding: 2%;
    padding-top: 5%;
    width:80%;
    margin: 5% auto;
    font-size: 2em;
    border-bottom: solid 2px;
    >h1{
      margin:0px auto;
      text-align: center;
      text-transform: uppercase;
    }
  }
  #about-block{
    padding:0px 10%;
    font-size: 1.5em;

    @media (max-width: 768px) {
      font-size:1em;
    }
    >p {
      text-align:left;
      margin:5% 0%;
    }
  }
  .contact-button {
    text-align:center;
    #contact-link {
      margin:10%;
      >a {
        color: #9c27b0;
        border: 2px solid #9c27b0;
        padding: 1.25rem 3rem 1.15rem;
        margin: 10px 10px;
        border-radius: 6px;
        text-decoration:none;

        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        -o-transition: background-color 500ms ease-in-out;
        -ms-transition: background-color 500ms ease-in-out;
        transition: background-color 500ms ease-in-out;

        &:hover {
          background-color: #9c27b0;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

}

.about-header{
    // border-bottom: 2px solid white;
    width:100%;
    text-align:center;
    color: #2E3333;
    font-size: 3em;
    padding: 3% 0%;
    margin: 3% auto;
    display: inline-block;
    position: relative;
    font-family: 'ubuntu', sans-serif;
    text-transform: uppercase;
    >.about-header-text:before
    {

      content: '';
      position: absolute;

          width: 50%;
        height: 0px;
        border-bottom: 2px solid black;
        bottom: 2px;
        left:25%;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 1s ease-in;
        transition: 1s ease-in;
    }

    >.underline:before{
      -webkit-transform: scaleX(1) !important;
      -ms-transform: scaleX(1) !important;
      transform: scaleX(1) !important;
    }
  }

