.project-section {

  @media only screen and (max-width: 600em) {

  }
  h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
  }
  p{
    font-size:1.2em;
    color:#A1B2B3;
  }
  padding-bottom: 5%;
}

.project-row {
  padding-top: 5%;
}

.projects-header{
    // border-bottom: 2px solid white;
    width:100%;
    text-align:center;
    font-size: 3em;
    padding: 3% 0;
    margin: 3% auto;
    position: relative;
    font-family: 'ubuntu', sans-serif;
    >.projects-header-text:before
    {
      content: '';
      position: absolute;
          width: 50%;
        height: 0px;
        border-bottom: 2px solid black;
        bottom: 2px;
        left:25%;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 1s ease-in;
        transition: 1s ease-in;
    }

    >.highlight:before{
      -webkit-transform: scaleX(1) !important;
      -ms-transform: scaleX(1) !important;
      transform: scaleX(1) !important;
    }
  }

.project-card{
  display: inline-block;
}

.project-pic {
  max-height:350px;
  margin-bottom: 10%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 2%;
  border: 1px solid black;
  // height:100%;
  overflow:hidden;
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

   -webkit-transition: margin 0.5s ease-in-out;
    -moz-transition: margin 0.5s ease-in-out;
    -o-transition: margin 0.5s ease-in-out;



    // -webkit-transition: box-shadow .3s ease-in-out;
    // -o-transition: box-shadow .3s ease-in-out;
    // -moz-transition: box-shadow .3s ease-in-out;
    // -ms-transition: box-shadow .3s ease-in-out;
    // -kthtml-transition: box-shadow .3s ease-in-out;
    // transition: box-shadow .3s ease-in-out;

    // s3 s4 s5

  @media screen and (-webkit-min-device-pixel-ratio: 2.0)and (max-width: 768px) {
    max-height: 350px;
  // margin-bottom: 20%;
  }

  &:hover {
      // margin-top: 5px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      cursor: pointer;
  }
}

.project-caption {
  // position:absolute;
  // background-color:white;
  // text-align:left;
  // padding:5% 5%;
  // width:95%;
  // margin-left:auto;
  // margin-right:auto;
  height: 350px;

  >h1 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    color: #2E3333;
  }

  >.project-links{
    > a {
      display:inline-block;


      color: #9c27b0;
      border: 2px solid #9c27b0;
      padding: 1.25rem 3rem 1.15rem;
      margin: 10px 10px;
      border-radius: 2rem;
      text-decoration:none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

      -webkit-transition: background-color 500ms ease-in-out;
      -moz-transition: background-color 500ms ease-in-out;
      -o-transition: background-color 500ms ease-in-out;
      -ms-transition: background-color 500ms ease-in-out;
      transition: background-color 500ms ease-in-out;

      &:active {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      }

      &:hover {
        background-color: #9c27b0;
        color:white;
      }
    }
  }
}


.project-description {
  display:inline-block;

  width:100%;
  > p {
    display:inline-block;
    padding: 2% 10%;
    width:80%;
    margin: auto;
    color: black;
  }

}

.project-text {
      position:absolute;
    width:75%;

    top:100%;
    background-color:red;
    }



  .project-title{
    width:80%;
    text-align:center;
    border-bottom:2px solid #9c27b0;

    margin: 5px auto;

    >h2 {
      text-align:left;

    }
  }


