/**
 * Site header
 */
.site-header {
    background-color: #BF1E9F;
    border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: Ubuntu;
    vertical-align: middle;
    color:white;
    font-size: 28px;
    letter-spacing: -1px;
    padding-top: 5px;
    float: left;

    padding-left: 15px;
    padding-right: 15px;

    #logo-bulb {
        // display:none;
    position:relative;
    color:white;
    border-radius: 100%;
    width: 200px;
    height: 200px;

    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
    }

    // display: inline-block;
    //   vertical-align: middle;

    //   line-height: normal;
    &,
    &:visited {
        color:white;
    }

    &:hover{
        color:white;
        #oj{

        visibility: visible;
        }
    }
}

.site-nav {
    color:white;
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }


    .page-link {
        // color: $text-color;
        transition: background-color 0.5s ease;
        color:white;
        line-height: $base-line-height;
        padding: 18px 12px;
        border-left: 1px solid #923266;
        border-right: 1px solid #923266;
        margin-right:-5px;
        &:hover {
            background-color:#923266;
        }

        // Gaps between nav items, but not on the first one
        // &:not(:first-child) {
        //     margin-left: 20px;
        // }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;

            > .page-link {
                 background-color: #772953;
                 color: white;
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            // color:white;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            background-color: $background-color;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.post-col-wrapper {

    margin-left: -$spacing-unit / 2;
    text-align: center;

    // @extend %clearfix;
}

.post-col{
    //inline block makes it responsive, vs floats
    // float will only make it stay on the left.
    // vertical align bottom makes it so all elements are leveled.
    display: inline-block;
    vertical-align: bottom;
}



// .post-col-1 {
//     width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//     width:         calc(35% - (#{$spacing-unit} / 2));
// }

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1, .post-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2, .post-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3, .post-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }


    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    background-color: $background-color;
    padding: $spacing-unit 0;
    border-color:#2C001E;
    border-bottom: 2px solid $box-highlight;

}

.page-heading {
    font-size: 20px;
}

.post-quote {
                    visibility: hidden;
                    font-size:14px;
                    margin-left: 5px;
                    margin-right:5px;
                    }

.post-list {
    margin-left: 0;
    list-style: none;
    > .post-col{

        > li {
            margin-bottom: $spacing-unit;
            width:$box-width;
            height:$box-height;
            margin-right:$spacing-unit;
            border-color:white;



            > :hover {
                border-style: solid;
                border-radius: 10px;
                border-color: $box-highlight;
            }

            > :hover > h2 {

                > .post-link{
                    text-decoration: underline;
                }

                > .post-quote {
                    color: #2C001E;
                    visibility: visible;
                }

            }

            > .box {
                display:block;
                width: $box-width;
                height:$box-height;

                // margin-right:10px;


                > .post-meta  {
                    font-size: $small-font-size;
                    color: #5E2750;
                    // color: $grey-color;
                    margin:5px;
                    float:right;
                }

                > h2 {
                    > .post-link {
                    display: block;
                    font-size: 28px;
                    color: $box-text;
                    margin-left:   10px;
                    margin-right:  10px;
                    margin-bottom: 10px;
                    clear:both;
                    }

                }

            } // end box
        }
    }
}


.post-link {


}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
