---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Begin</h1> -->
<!-- {% include intro.html %} -->
<!-- <ul class="side-nav">
  {% for category in site.categories %}
    <li>
      <a name="{{ category | first }}">{{ category | first }}</a>
    </li>
  {% endfor %}
</ul> -->

<div class="post-col-wrapper">
  <ul class="post-list">
    {% for post in site.posts %}
    <div class="post-col">
      <li>
        <a class="box" href="{{ post.url | prepend: site.baseurl }}">

          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <div class="post-link">{{ post.title }}</div>
            <div class="post-quote">{{ post.quote }}</div>
          </h2>

        </a>
      </li>
      </div>
    {% endfor %}
  </ul>
</div>
<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
