.motion-background{
  height:570px;
  width:70%;
  // display:none;

  > h1 {
    font-family: 'EB Garamond';

    text-align:center;
    background-color: white;

    color: #2F2B22;
    width: 100%;
    padding: 2% 0;
  }


  > .gif {
    position: relative;
    top: 10%;
    left: 15%;
    bottom: 0;
    // margin: auto;
    background-image: url(../images/static-cmyk/test.gif);

  width: 450px;
  height: 252px;

  }

  > .gif-2{
    position: relative;
    top: 5px;
    left:20%;
    bottom: 0;
    margin: auto;
    background-image: url(../images/static-cmyk/holiday2013.gif);

    width:400px;
    height:225px;
  }

  @media screen and (max-width:800px){
    padding-top: 10%;
    width: 100%;
  }
}
