---
title: "cmyk"
---
<div class="background-paper">

    <div class="background-image">
        <div class="call-to-action">
        <h1>Creativity speaks + <span id="white">itself.</span></h1>
        </div>


    </div>
    <span class="side-nav-right">
        <a href="#">
            <img id="logo" src="./images/static-cmyk/logo.svg" alt="">
        </a>
        <ul>
            <li id='graphic-toggle'>Graphic</li>
            <li id='motion-toggle'>Motion</li>
            <li id='interactive-toggle'>Interactive</li>
            <li id='about-toggle'>About</li>
            <li id='contact-toggle'>Contact</li>
        </ul>
<!--                 <div id="copyright">
            <p>Copyright © 2015 CMYK+WHITE.<br> All rights reserved.</p>
        </div> -->
    </span>

    <div class="graphic-background">
        <h1>Graphics</h1>

        <div class="graphic-wrapper">
            <img src="./images/static-cmyk/EL_2012_COVER.jpg" alt="">
            <img class="wide" src="./images/static-cmyk/EL_1.jpg" alt="">
            <img class="wide" src="./images/static-cmyk/EL_1.jpg" alt="">

        </div>
    </div>

    <div class="motion-background">
        <h1>Motion</h1>
        <div class="gif"></div>
        <div class="gif-2"></div>
    </div>

    <div class="interactive-background">
        <h1>I have not found a compelling way to display interactive portfolio items.</h1>
        <h1>A possible idea would be to hook up sample portfolio code and have the users play with that. </h1>
    </div>

                <div class="about-background">
        <h1>About Us</h1>
        <p>Every color has an emotional association and we are drawn to colors for various reasons. Color is the essence of our entire perception of the world around us and therefore a suitable metaphor for what we do. CMYK+WHITE, INC. is a multidisciplinary studio focusing on creating solutions for interiors, fashion, print and motion graphics.
        <br>
        <br>

CMYK+WHITE, INC. creates unique design solutions for a range of clients and their specific needs. Our goal is to serve your design needs across all platforms in order to create a consistently branded message. Design is a problem solving discipline. We are dedicated to letting the problem direct a solution that is engaging, honest and innovative. Our simple design philosophy yields infinite ideas, reflecting a desire to stimulate our audiences and a passion for what we do.</p>
    </div>


    <div class="contact-background"></div>


</div>
