<div class="resume-container">
  <h1>Education</h1>

  <h2>University of Maryland, College Park - Bachelor of Arts, Economics</h2>
  <h2 class="year">2014</h2>
  <h1>Skills</h1>

  <h2>Client-Side: HTML5/CSS3/Javascript, Jquery, SASS</h2><br>
  <h2>Server-Side: Ruby on Rails, RVM, MySQL, PostgreSQL, Git, Bash, Heroku</h2><br>
  <h2>Tools:       Sublime Text, Grunt, Photoshop</h2>

  <h1>Work Experience</h1>
  <section>

  <h2>Sales Associate, P.H Lee Jewelry</h2>
  <h2 class="year">2014-2015</h2>

  <ul>
    <li>Input customer data into spreadsheets</li>
    <li>Facilitated shopping experience for new customers by guiding them around store products</li>
    <li>Created and mailed out postcards advertising holiday promotions</li>
  </ul>
  <h2>HVAC Technician, S&W Wilson</h2>
  <h2 class="year">Summer 2014</h2>
  <ul>
    <li>Diagnosed and repaired rooftop air conditioners</li>
    <li>Replaced old broken thermostats with new units</li>
    <li>Coordinated with NYCPS employees to diagnose A/C problems</li>
  </ul>
  <h2>Teaching Assistant, University of Maryland</h2>
  <h2 class="year">2012-2013</h2>
  <ul>
    <li>Taught and prepared materials for Game Theory (GVPT390)</li>
    <li>Explained basic game rules and helped students solve abstract math questions </li>
  </ul>

  </section>
</div>
