---
title: Welcome to Middleman
---
<div class="landing-page">
<div class="name-card">
            <div class="name-text">
                <h1>
                    TING.LEW | WEB.DEVELOPER
                </h1>
            </div>

        </div>

        <div class="card projects default">
            <h1>Projects</h1>
            <ul>
                <li id="rails-toggle">Rails</li>
                <li id="static-site-toggle">Static Sites</li>
                <li id="fun-toggle">Fun</li>
            </ul>
        </div>

        <div class="card about default">
            <h1>About</h1>
            <p>I am passionate about making the web a better place. I have been told my analogies are poor and my catch-phrases random.</p>
        </div>
        <div class="card contact default">
            <h1>Contact</h1>
            <ul>
                <li>ting.lew@gmail.com</li>
                <li>240.418.1754</li>
            </ul>
        </div>

        <div class="card rails rails-project">
            <h1>NovelShare</h1>

            <p>A project originally a GoodReads clone slowly became a library system. Signed in users can share ANY novel they want to other users. And </p>

        </div>

        <div class="card cmyk static-project">
            <h1 id="toggle-cmyk-site">CMYK+White</h1>
            <p>This was my think on my feet project. My first thoughts, get a boilerplate and start creating layouts.</p>
        </div>

        <div class="card phlee static-project">
            <h1 id="toggle-phlee-site">P.H Lee Jewelry</h1>
            <p>A website for a jewelry store I used to work at. I used Jekyll and Foundation to draw this mockup.</p>
        </div>

        <div class="card rails-art fun-project">
            <h1 id="toggle-rails-art">Rails Art</h1>
            <p>A study using HTML5 canvas. A white rail stretches the landscape. Red rubies light the way from beginning to end.</p>

            <canvas id="myCanvas" width="1920" height="1080">

            </canvas>
        </div>

        <div class="card rails-back">
            <h1 id="rails-back-toggle">Back</h1>
        </div>

        <div class="card static-back">
            <h1 id="static-back-toggle">Back</h1>
        </div>

        <div class="card fun-back">
            <h1 id="fun-back-toggle">Back</h1>
        </div>
</div>
