---
title: Ting.Lew
---
<div class="landing-page">
<div class="name-card">
            <div class="name-text">
                <h1>
                    Ting.Lew | web.developer
                </h1>
            </div>

        </div>

        <div class="card projects default">
            <h1>Projects</h1>
            <ul>
                <li id="rails-toggle">Rails</li>
                <li id="static-site-toggle">Static Sites</li>
                <li id="fun-toggle">Fun</li>
            </ul>
        </div>

        <div class="card about default">
            <h1>About</h1>
            <p>I am constantly looking for new technologies to make the user experience better. I have also been told my that my analogies and catch-phrases are random.</p>
        </div>
        <div class="card contact default">
            <h1>Contact</h1>
            <ul>
                <li>ting.lew@gmail.com</li>
                <li>240.418.1754</li>
            </ul>
        </div>

        <div class="card rails rails-project">
            <h1 id='toggle-project-rails-novelshare'>NovelShare</h1>

            <p>This Rails app is a Goodreads clone that also emulates a library system. I used a good number of gems with several relational models.There are two versions, both have similar functionality but different UI.

            <ul>
                <li> <a href="http://agile-headland-2543.herokuapp.com/" target="_blank">New Version</a></li>
                <li> <a href="http://mighty-mesa-4899.herokuapp.com/"  target="_blank">Old Version</a></li>
            </ul></p>

            <!-- <img src="../images/static-rails/novelshare.png" alt=""> -->

        </div>

        <div class="card phlee static-project">
            <h1 id="toggle-phlee-site">P.H Lee Jewelry</h1>
            <p>A website for a jewelry store I work at. I used Jekyll and Foundation to draw this mockup.<br><br>

            I hosted the site on Heroku. Had I hosted it here, I would have to include the Foundation framework on top of existing stylesheets. Which means tons of conflicts.<br><br>

            <a href="http://jewelry-123.herokuapp.com/index.html" target="_blank">Heroku link</a></p>


        </div>

        <div class="card cmyk static-project">
            <h1 id="toggle-cmyk-site">CMYK+White</h1>
            <p>A study on using a relevant boilerplate and creating a single page app. The idea was to make a dynamic UI to accent the work.
            </p>
        </div>



        <div class="card rails-art fun-project">
            <h1 id="toggle-rails-art">Rails Art</h1>
            <p>A study using HTML5 canvas. <br>
            A white rail stretches the landscape.<br>
            Rubies light the way to the end.</p>

            <canvas id="myCanvas" width="1920" height="1080">

            </canvas>
        </div>

        <div class="card rails-back">
            <h1 id="rails-back-toggle">Back</h1>
        </div>

        <div class="card static-back">
            <h1 id="static-back-toggle">Back</h1>
        </div>

        <div class="card fun-back">
            <h1 id="fun-back-toggle">Back</h1>
        </div>

        <!-- <div class="card test">
            <h1 id='test'>Test Toggle</h1>
        </div> -->


</div>

<div class="site-cmyk">
            <%= partial 'project-static-cmyk' %>
</div>
