

h1,h2,h3,h4,ul,p  {
font-family: 'Lato', sans-serif;
font-weight: 300;
}

body {
  // background-color: #AEA79F;
  background-image: url("../images/background.jpg");
  background-repeat:no-repeat;
// background-size:contain;
background-position:center;

  @media screen and (max-width: 800px){
    background-position: 0% 40%;
  }
}

#myCanvas {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  z-index:-1;
  display:none;
}

.row {
  width:100%;
  clear:both;
}

.name-card {
  // position: absolute;
  padding-left: 10%;
  > .name-text {
    // padding: 0 10%;
    // background-color: green;

    > h1 {
      color: white;
      // background-color: #842D5C;
      background-color: rgba(132, 45, 92, .5);
      padding: 20px 20px;
      font-size: 42px;
      font-family: ubuntu;
    }

    > h2 {
      color: white;
      background-color: rgba(132, 45, 92, .3);
      padding: 20px 20px;
      font-size: 30px;
      font-family: ubuntu;
    }
  }
}







.card{
  padding-left: 5%;
  width:50%;
  background-color: rgba(255,255,255,0.4);
  &:nth-child(even){
    background-color:transparent;
    width: 65%;
  }

  &.rails-project, &.static-project, &.art-project {
    display:none;
  }

  &.rails-back, &.static-back, &.fun-back {
    display:none;
    width: 30%;
    background-color: rgba(255,255,255,0.4);
  }
  &.resume-back {
    display:none;
  }


  &:hover {
    // border-left: solid;
    background-color: rgba(0,0,0,.2);
    color: white;
  }

  > h1 {
    padding: 0px 5px;
    margin: 0px;
    font-size: 42px;
  }
  > h2 {
    display:none;
  }

  > img {
    display:none;
    height: 150px;
    opacity: .9;
    border-radius: 50%;
    margin-bottom: 5%;
  }
  > p{
    display:none;
    font-size:14px;
    padding-bottom:5%;
    padding-right: 5%;
  }
  >a {
    display:none;
    padding-bottom:5%;
  }

  > ul {
    display: none;
    margin:0px;
    padding: 0px 0px;
    font-size:18px;
    padding: 1% 5%;
    list-style: none;
    opacity: 1;

    > li {
      &:hover {
        color: #370D24;

      >a > i.fa{
        // color:red;
        padding-left: 5px;
        &:hover {
          color:rgba(132, 45, 92, .9);
          // color:red;
        }
      }
      }



    }

    // padding-bottom:5%;
  }
}

.site-cmyk {
  display:none;
  @import 'static-cmyk/site-cmyk';
}

.resume {
  display:none;
  @import 'resume';
}
