
<div class="row full-width">
  <div id="about-section">
  <div class="about-title"><h1>About</h1></div>

  <div class="about-block">
    <p>I graduated from University of Maryland, College Park. Afterwards I worked as an HVAC technician and an IT person. I picked up web development and began creating web applications.
    </p>

    <p>
      When I am indoors, I am programming, listening to music, playing CounterStrike. Outside, I enjoy longboarding, biking, and kayaking, whatever takes me places.
    </p>

    <div id="resume-link"><a href="/resume.pdf">resume</a></div>
    </div>
  </div>
</div>

