
  <div id="about-section">
<div class="row full-width">
  <div class="about-header">
    <span class="about-header-text">BIO</span>
  </div>

  <div id="about-block">
    <p>I am a graduate from the University of Maryland, College Park. Afterwards I worked as an HVAC technician and as a salesman. I picked up web development and began solving problems more efficiently.
    </p>

    <p>If you have an idea that involves people using technology and making their lives easier, I'd love to talk about it.</p>
    <div class="contact-button">
      <div id="contact-link" data-toggle="modal" data-target="#modalContact"><a>Contact</a></div>
      </div>
    </div>
  </div>
</div>

