
  <div id="about-section">
<div class="row full-width">
  <div class="about-header">
    <span class="about-header-text">About</span>
  </div>

  <div id="about-block">
    <p>I graduated from University of Maryland, College Park. Afterwards I worked as an HVAC technician and as a salesman. I picked up web development and began creating web applications.
    </p>

    <p>
      I am familiar with Rails and Ruby scripting, but lately I have been using Javascript frameworks to create native user experiences.
    </p>

    <div id="contact-link" data-toggle="modal" data-target="#modalContact"><a>Contact</a></div>
    </div>
  </div>
</div>

