
<div id="contact">
  <div class="row full-width">
  <div class="col-md-6 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
    <h1>Contact</h1>
    <form action="https://getsimpleform.com/messages?form_api_token=0e363312c3330862d5626a820867ee8c" method="post">
      <div class="form-group">
        <input type='text' class="form-control" name='name' placeholder='name'/>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
<!--         <textarea class="form-control" id="message" placeholder="">
        </textarea> -->
        <textarea class="form-control" id="message" rows="3", placeholder="Message"></textarea>
      </div>
    <button type="submit pull-right" class="btn btn-default">Submit</button>
  </form>
  </div>
  </div>
</div>



