
<!-- <canvas id="myCanvas" width="1280" height="750">Your browser does not support canvas</canvas> -->
    <div class="row content full-width">
      <div class="col-lg-2 col-md-1 col-md-offset-3 col-sm-3 col-sm-offset-2">
        <img id="avatar" src="./images/profile-pic.png" alt="profile picture">
      </div>


      <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 home-text">
        <div class="row">
          <div class="col-xs-12">
            <div class="hello-box">
              <span class="hello">Hello. My name is Ting Lew
              </span>

            </div>

          </div>
        </div>
        <div class="row intro">
          <div class="col-xs-12">
          <p>I am a web developer.</p>
          <p> I create projects written in Rails and Javascript. My passion is designing web applications that click for you.
          </p>
          <p class="intro-buttons">
            <a href="https://github.com/tingaloo/"><i class="fa fa-github fa-lg"></i></a>
            <a href="http://stackoverflow.com/users/4021293/goda"><i class="fa fa-stack-overflow fa-lg"></i></a>
          </p>
          </div>
        </div>

        </div>

      </div>


