<div class="home">
<!-- <canvas id="myCanvas" width="1280" height="750">Your browser does not support canvas</canvas> -->
  <div id="content">
    <h1>TING.LEW</h1><img src="./images/about-head-test.jpg" alt="">
    <h2>Currently developing Rails applications</h2>

  </div>


</div>
