
<!-- <canvas id="myCanvas" width="1280" height="750">Your browser does not support canvas</canvas> -->
    <div class="row content full-width">
      <div class="col-lg-2 col-md-1 col-md-offset-3 col-sm-3 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <img id="avatar" src="./images/profile-pic.png" alt="profile picture">
      </div>


      <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-1 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 home-text">
        <div class="row">
          <div class="col-xs-12">
            <div class="hello-box">
              <span class="hello">My name is Lew <br> && <br> I am a web developer
              </span>

            </div>

          </div>
        </div>
        <div class="row intro">
          <div class="col-xs-12">
          <p class="intro-status"> Currently Civic Hacking for CodeForDC<span class="blinking-cursor">|</span></p>


          <p class="intro-buttons">
            <a id="github-link" href="https://github.com/tingaloo/" target="_blank">GitHub</a>
            <a id="so-link" href="http://stackoverflow.com/users/4021293/goda" target="_blank">StackOverflow</a>

          </p>
          </div>
        </div>

        </div>

      </div>


