<!-- NovelShare -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">NovelShare</h2>
      </div>
      <div class="modal-body">
      <div class="row">
          <div class="col-sm-12">
        <img class="vert-pic" src="./images/novelshare-test.jpg" alt="">
        </div>
      </div>
        <p class="summary">NovelShare is a library system connected to the GoodReads API. Users can share books with each other, or fetch free ones from GoodReads most popular list.</p>
        <p class="stack">Rails | Foundation | Sass</p>
        <p class="project-links"><a href="http://agile-headland-2543.herokuapp.com/" target="_blank">Demo</a>
        <a href="https://github.com/tingaloo/novelshare" target="_blank">Github</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ApartmentTherapy -->
<div class="modal fade" id="modalTwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Apartment Therapy</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
        <img class="vert-pic" src="./images/apartment-home.jpg" alt="">
          </div>
        </div>
        <p class="summary">I recreated ApartmentTherapy, a lifestyle blog website. The site focuses on the user blogging experience using AJAX modals and WYSIWYG editors.</p>
        <p class="stack">Rails | Foundation | SASS</p>
        <p class="project-links">
            <a href="https://still-scrubland-3114.herokuapp.com/" target="_blank">Demo</a>
            <a href="https://github.com/tingaloo/apartment" target="_blank">Github</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- CMYKWhite -->
<div class="modal fade" id="modalThree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">CMYK+White</h2>
      </div>
      <div class="modal-body">
        <img src="./images/cmyk-test.gif" alt="">
        <p class="summary">I recreated a digital agency's website into a single page home-page. The site uses hand-written jQuery without a Javascript framework.</p>
        <p class="stack">Jekyll | jQuery | SASS</p>
        <p class="project-links">
            <a href="https://github.com/tingaloo/cmyk" target="_blank">Github</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Five Quizzes -->
<div class="modal fade" id="modalFour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Five Quizzes</h2>
      </div>
      <div class="modal-body">
        <img src="./images/quiz.gif" alt="">
        <p class="summary">A single page quiz application. I focused primarily on the answer animations which chain jQuery events while handling data.</p>

        <p class="stack">Meteor | SASS</p>
        <p class="project-links">
            <a href="http://quizzes.meteor.com/" target="_blank">Demo</a>
            <a href="https://github.com/tingaloo/meteor-quiz" target="_blank">Github</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="contact">
          <div class="row full-width">
          <div class="col-md-6 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
            <h1>Contact</h1>
            <form action="https://getsimpleform.com/messages?form_api_token=0e363312c3330862d5626a820867ee8c" method="post">
              <div class="form-group">
                <input type='text' class="form-control" name='name' placeholder='name'/>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="message" rows="3", placeholder="Message"></textarea>
              </div>
            <button type="submit pull-right" class="btn btn-default">Submit</button>
          </form>
          </div>
          </div>
        </div>

    </div>
  </div>
</div>

