<!-- NovelShare -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">NovelShare</h2>
      </div>
      <div class="modal-body">
      <div class="row">
          <div class="col-sm-12">
        <img class="vert-pic" src="./images/novelshare-test.jpg" alt="">
        </div>
      </div>
        <p class="summary">NovelShare is a library system connected to the GoodReads API. Users can share books with each other, or fetch free ones from GoodReads most popular list.</p>
        <p>Built with Rails, Foundation, Sass</p>
        <p class="project-links"><a href="http://agile-headland-2543.herokuapp.com/" target="_blank">Demo</a>
        <a href="https://github.com/tingaloo/novelshare" target="_blank">Github</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ApartmentTherapy -->
<div class="modal fade" id="modalTwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Apartment Therapy</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
        <img class="vert-pic" src="./images/apartment-home.jpg" alt="">
          </div>
        </div>
        <p class="summary">I recreated ApartmentTherapy, a lifestyle blog website. The site focuses on the user blogging experience using AJAX modals and WYSIWYG editors.</p>
        <p>Built with Rails, Foundation, SASS</p>
        <p class="project-links">
            <a href="https://still-scrubland-3114.herokuapp.com/" target="_blank">Demo</a>
            <a href="https://github.com/tingaloo/apartment">Github</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- CMYKWhite -->
<div class="modal fade" id="modalThree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">CMYK+White</h2>
      </div>
      <div class="modal-body">
        <img src="./images/cmyk-test.gif" alt="">
        <p class="summary">I recreated a digital agency's website into a single page home-page. The site uses hand-written jQuery without a Javascript framework.</p>
        <p>Built with Jekyll, jQuery, SASS</p>
        <p class="project-links">
            <a href="https://github.com/tingaloo/cmyk">Github</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- CMYKWhite -->
<div class="modal fade" id="modalFour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Five Quizzes</h2>
      </div>
      <div class="modal-body">
        <img src="./images/quiz.gif" alt="">
        <p class="summary">A single page application built on the Javascript framework Meteor. It uses material design principles and responsive. </p>
        <p class="project-links">
            <a href="#">Meteor</a>
            <a href="https://github.com/tingaloo/meteor-quiz">Github</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
