<nav class="main">
  <ul>
    <li>
      <a class="jumper" href="#project-section">Projects</a>
    </li>
    <li id="nav-contact"><a href="#">Contact</a></li>
  </ul>

  <ul id="contact-info">
    <li>ting.lew@gmail.com</li>
    <li>240-418-1754</li>
  </ul>
</nav>
