
<div class="row project-section full-width">

    <div class="row full-width">
      <div class="col-xs-12">
          <div class="projects-header">
            <span class="projects-header-text">Projects</span>
          </div>
      </div>
    </div>

    <!-- apartment therapy -->
      <div class="row full-width project-row">

        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <a href="https://still-scrubland-3114.herokuapp.com/" target="_blank">
            <img class="img-responsive project-pic" src="./images/apartment-home.jpg" alt="apartment therapy cover picture">
          </a>
        </div>
      <!-- caption -->
      <div class="col-md-6 col-sm-6 hidden-xs">
        <div class="project-caption">
          <h1>Apartment Therapy</h1>
          <p>Framework: Rails</p>
          <p>I recreated ApartmentTherapy, a popular lifestyle blog. The site focuses on the user blogging experience using AJAX modals and WYSIWYG editors.</p>
          <p class="project-links">
            <a href="https://still-scrubland-3114.herokuapp.com/" target="_blank">Demo</a>
            <a href="https://github.com/tingaloo/apartment" target="_blank">Github</a>
          </p>
        </div>
      </div>

      </div>

    <!-- five quizzes -->
    <div class="row full-width project-row">

      <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
        <a href="http://quizzes.meteor.com/" target="_blank">
          <img class="img-responsive project-pic" src="./images/quiz.gif" alt="quiz gif">
        </a>

      </div>

      <div class="col-md-6 col-sm-6 hidden-xs">
        <div class="project-caption">
          <h1>Five Quizzes</h1>
          <p>Framework: MeteorJS</p>
          <p>This is a single page quiz application that asks silly and tech related questions. I focused primarily on the answer animations which chain jQuery events while handling data.</p>
          <p class="project-links">
            <a href="http://quizzes.meteor.com/" target="_blank">Demo</a>
            <a href="https://github.com/tingaloo/meteor-quiz" target="_blank">Github</a>
          </p>
        </div>
      </div>
    </div>

      <!-- novelshare -->
    <div class="row full-width project-row">
      <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <a href="http://agile-headland-2543.herokuapp.com/" target="_blank">
          <img class="img-responsive project-pic" src="./images/novelshare-test.jpg" alt="novelshare cover picture">
        </a>
      </div>

      <div class="col-md-6 col-sm-6 hidden-xs">
        <div class="project-caption">
          <h1>NovelShare</h1>
          <p>Framework: Ruby on Rails</p>
          <p>This web app lets users fetch fictional ebooks from Goodreads. It uses the GoodReads API and Nokogiri for parsing. </p>
          <p class="project-links">
            <a href="http://agile-headland-2543.herokuapp.com/" target="_blank">Demo</a>
            <a href="https://github.com/tingaloo/apartment" target="_blank">Github</a>
          </p>
        </div>
      </div>
    </div>
      <!-- cmyk+white -->
      <div class="row full-width project-row">
        <div class="col-lg-3 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">

          <img class="img-responsive project-pic" src="./images/cmyk-test.gif" alt="cmyk white gif">


        </div>

        <div class="col-md-6 col-sm-6 hidden-xs">
          <div class="project-caption">
            <h1>CMYK+White</h1>
            <p>Framework: Jekyll</p>
            <p>I recreated a digital agency's website into a single page home-page. The site uses hand-written jQuery without a Javascript framework.</p>
            <p class="project-links">
              <a href="https://github.com/tingaloo/cmyk" target="_blank">Github</a>
            </p>
          </div>
        </div>
      </div>




  </div>



