
<div class="row project-section full-width">

    <div class="row full-width">
      <div class="col-xs-12">
          <div class="projects-header">
            <span class="projects-header-text">Projects</span>
          </div>
      </div>
    </div>


    <div class="row full-width">
      <div class="col-lg-3 col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12">

        <img class="img-responsive project-pic" src="./images/novelshare-test.jpg" data-toggle="modal" data-target="#myModal" alt="">


      </div>
      <div class="col-lg-3 col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12">

        <img class="img-responsive project-pic" src="./images/quiz-test-copy.jpg" data-toggle="modal" data-target="#modalFour" alt="">


      </div>
      <div class="col-lg-3 col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12">

        <img class="img-responsive project-pic" src="./images/cmyk-test.png" data-toggle="modal" data-target="#modalThree" alt="">


      </div>
      <div class="col-lg-3 col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-12">

        <img class="img-responsive project-pic" src="./images/apartment-home.jpg" data-toggle="modal" data-target="#modalTwo" alt="">


      </div>


    </div>
  </div>



