<div id="section1">
  <div id="skills-section">
    <h1>Skills</h1>
    <p>I am proficient creating and deploying
    <span class="highlight">Rails</span>
    applications.</p>

    <p>My front-end knowledge includes</p>
    <p class="highlight">HTML5 | CSS3 | JavaScript | Jquery | AJAX | SASS | Canvas | Foundation
    </p>
    <p> I am familiar with server side languages such as</p>
    <p class="highlight">
    Ruby, RVM, MySQL, PostgreSQL, Git, Bash
    </p>


    <p>I currently deploy with
    <span class="highlight">Heroku & PostgreSQL</span>
    </p>


    <p>I use cool tools like
    </p>
    <p class="highlight">
    Sublime Text, Photoshop, Grunt, and Mac OSX.
    </p>
  </div>
</div>
