---
title: Welcome to Middleman
---

<!-- <div id="buttons">
      <input type="button" id="clear" value="Clear">
    </div> -->

<nav class="main">
  <ul>
    <li>Home</li>
    <li>Projects</li>
    <li>Skills</li>
    <li>Contact</li>
  </ul>
</nav>

<div id="section0">
  <div id="content">
    <h1>TING.LEW</h1>
    <h2>Currently developing Rails applications</h2>
    <!-- <h2>On route to creating professional single page applications</h2>
    <p>A web developer looking to create the best single page applications the web can handle</p> -->
  </div>
    <canvas id="myCanvas" width="1280" height="750">Your browser does not support canvas</canvas>

</div>

<!-- <div id="section1">
  <div id="skills-section">
    <h1>Skills</h1>
    <p>Function first, visuals and interactivity will then be justified</p>
    <br>
    <p>I am proficient creating and deploying Rails applications. My front-end knowledge includes
    (HTML5, CSS3, JavaScript, Jquery, AJAX, SASS).

    I currently deploy with Heroku using PostgreSQL.
    </p>
  </div>
</div> -->

<div id="section2">
  <div id="portfolio-section">
    <h1>Portfolio</h1>

    <h2>Rails - NovelShare</h2>
    <div class="portfolio-row">
      <div class="portfolio-pic">
        <img src="./images/novelshare.png" alt="">
      </div>
      <div class="portfolio-pic">
        <img src="./images/novelshare-2.png" alt="">
      </div>
      <div class="portfolio-pic">
        <img src="./images/novelshare-3.png" alt="">
      </div>
      <div class="portfolio-description">
        <p>A Rails application that simulates a sharing community between book lovers. It is attached to
        the GoodReads API to retrieve book information and links to its bookpage. </p>
      </div>
    </div>
    <!-- <img class="portfolio-project" src="./images/novelshare-2.png" alt=""> -->
    <div class="portfolio-row">
      <div class="portfolio-pic-mobile">
        <img src="./images/apartment.gif" alt="">
      </div>
        <div class="portfolio-description">
          <p>A quick responsive mockup of ApartmentTherapy.com, a lifestyle blog built on Rails.
          Posts are updated seamlessly using AJAX. A modal pops up for user posts, edits, and deletes. </p>
        </div>

      </div>

      <h2>Static Sites</h2>
      <div class="portfolio-row">
        <div class="portfolio-pic">
          <img src="./images/cmyk-1.png" alt="">
        </div>
        <div class="portfolio-pic-mobile">
          <img src="./images/cmyk.gif" alt="">
        </div>
          <div class="portfolio-description">
            <p>A single page solution to a digital agency.  </p>
          </div>

      </div>

  </div>

</div>

