h1, h2, h3, p, a, li {
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.container-fluid {
  padding: 0px 0px; }

.full-width {
  margin: 0 0; }

.content {
  height: 100vh;
  background: #772953;
  color: #A1B2B3;
  background-color: transparent;
  padding-top: 5%; }
  .content h1, .content h2, .content li, .content p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em; }
    @media (max-width: 768px) {
      .content h1, .content h2, .content li, .content p {
        font-size: 1em; } }
  .content .avatar-column {
    text-align: center; }
  .content #avatar {
    border-radius: 25%;
    border: 1px solid #9D99B2;
    height: 20vh;
    margin-top: 30%;
    background-color: rgba(255, 255, 255, 0.5); }
  .content .home-text {
    text-align: left; }
    @media only screen and (max-width: 768) {
      .content .home-text {
        text-align: center;
        color: green; } }
  .content .hello-box {
    width: 100%;
    font-size: 2em;
    padding: 5% 0%;
    display: inline-block;
    position: relative;
    font-family: 'ubuntu', sans-serif; }
    @media (max-width: 768px) {
      .content .hello-box {
        font-size: 1.5em; } }
    .content .hello-box > .hello:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0px;
      border-bottom: 2px solid white;
      bottom: 2px;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform .4s ease-in;
      transition: .4s ease-in; }
    .content .hello-box > .underline:before {
      -webkit-transform: scaleX(1) !important;
      -ms-transform: scaleX(1) !important;
      transform: scaleX(1) !important; }
  .content .intro {
    display: none; }
    @media (max-width: 768px) {
      .content .intro > div > p {
        font-size: 1em; } }
  .content .intro-line > span {
    background-color: white; }
  .content .intro-buttons > #so-link {
    color: #F47920;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
    -ms-transition: color 500ms ease-in-out;
    transition: color 500ms ease-in-out; }
    .content .intro-buttons > #so-link:hover {
      color: #A1B2B3;
      text-decoration: none; }
  .content .intro-buttons > #github-link {
    color: #772953;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
    -ms-transition: color 500ms ease-in-out;
    transition: color 500ms ease-in-out; }
    .content .intro-buttons > #github-link:hover {
      color: #A1B2B3;
      text-decoration: none; }

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%; }
  @media only screen and (min-width: 650px) {
    #myCanvas {
      width: 100%; } }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1080px) {
    #myCanvas {
      top: 50%; } }

#section1 {
  margin: 10% 0%; }

#project-section {
  display: block; }

#skills-section {
  margin: 0% 10%;
  padding-top: 2%;
  font-size: 1.5em;
  line-height: 200%; }
  #skills-section > h1 {
    border-bottom: solid 2px;
    padding: 2% 2%; }
  #skills-section > .highlight {
    background-color: #772953;
    color: white;
    padding: 2% 2%; }
  #skills-section > p > .highlight {
    background-color: #772953;
    color: white;
    padding: 0% 2%; }

.main {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 70%;
  text-align: center;
  z-index: 2; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1080px) {
    .main {
      top: 80%; } }
  .main > ul {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid 2px;
    padding: 2% 0%; }
    .main > ul > li {
      display: inline;
      color: white;
      list-style: none;
      text-align: center;
      padding: 0% 2%;
      font-size: 2.5em; }
      .main > ul > li > a {
        color: white;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif; }
  .main > #contact-info {
    display: none;
    color: white;
    border-bottom: none; }

#buttons {
  position: absolute;
  top: 5px;
  left: 10px; }

#buttons > input {
  padding: 10px;
  display: block;
  margin-top: 5px; }

.project-section {
  padding-bottom: 5%; }
  .project-section h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em; }
  .project-section p {
    font-size: 1.2em;
    color: #A1B2B3; }

.project-row {
  padding-top: 5%; }

.projects-header {
  width: 100%;
  text-align: center;
  font-size: 3em;
  padding: 3% 0;
  margin: 3% auto;
  position: relative;
  font-family: 'ubuntu', sans-serif; }
  .projects-header > .projects-header-text:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0px;
    border-bottom: 2px solid black;
    bottom: 2px;
    left: 25%;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: 1s ease-in; }
  .projects-header > .highlight:before {
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important; }

.project-card {
  display: inline-block; }

.project-pic {
  max-height: 350px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  border: 1px solid black;
  overflow: hidden;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) {
    .project-pic {
      max-height: 350px; } }
  .project-pic:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer; }

.project-caption {
  height: 350px; }
  .project-caption > h1 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    color: #2E3333; }
  .project-caption > .project-links > a {
    display: inline-block;
    color: #9c27b0;
    border: 2px solid #9c27b0;
    padding: 1.25rem 3rem 1.15rem;
    margin: 10px 10px;
    border-radius: 2rem;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out; }
    .project-caption > .project-links > a:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
    .project-caption > .project-links > a:hover {
      background-color: #9c27b0;
      color: white; }

.project-description {
  display: inline-block;
  width: 100%; }
  .project-description > p {
    display: inline-block;
    padding: 2% 10%;
    width: 80%;
    margin: auto;
    color: black; }

.project-text {
  position: absolute;
  width: 75%;
  top: 100%;
  background-color: red; }

.project-title {
  width: 80%;
  text-align: center;
  border-bottom: 2px solid #9c27b0;
  margin: 5px auto; }
  .project-title > h2 {
    text-align: left; }

#about-section {
  height: 100vh;
  color: #A1B2B3; }
  #about-section h1 {
    font-family: 'Ubuntu', sans-serif; }
  #about-section #about-title {
    padding: 2%;
    padding-top: 5%;
    width: 80%;
    margin: 5% auto;
    font-size: 2em;
    border-bottom: solid 2px; }
    #about-section #about-title > h1 {
      margin: 0px auto;
      text-align: center;
      text-transform: uppercase; }
  #about-section #about-block {
    padding: 0px 10%;
    font-size: 1.5em; }
    @media (max-width: 768px) {
      #about-section #about-block {
        font-size: 1em; } }
    #about-section #about-block > p {
      text-align: left;
      margin: 5% 0%; }
  #about-section .contact-button {
    text-align: center; }
    #about-section .contact-button #contact-link {
      margin: 10%; }
      #about-section .contact-button #contact-link > a {
        color: #9c27b0;
        border: 2px solid #9c27b0;
        padding: 1.25rem 3rem 1.15rem;
        margin: 10px 10px;
        border-radius: 6px;
        text-decoration: none;
        -webkit-transition: background-color 500ms ease-in-out;
        -moz-transition: background-color 500ms ease-in-out;
        -o-transition: background-color 500ms ease-in-out;
        -ms-transition: background-color 500ms ease-in-out;
        transition: background-color 500ms ease-in-out; }
        #about-section .contact-button #contact-link > a:hover {
          background-color: #9c27b0;
          color: white;
          cursor: pointer; }

.about-header {
  width: 100%;
  text-align: center;
  color: #2E3333;
  font-size: 3em;
  padding: 3% 0%;
  margin: 3% auto;
  display: inline-block;
  position: relative;
  font-family: 'ubuntu', sans-serif;
  text-transform: uppercase; }
  .about-header > .about-header-text:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0px;
    border-bottom: 2px solid black;
    bottom: 2px;
    left: 25%;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: 1s ease-in; }
  .about-header > .underline:before {
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important; }

/*# sourceMappingURL=custom.css.map */
